:root {
  --bg-color-01: #1f2020;
  --bg-color-02: #272a2a;
  --font-color-01: #f1f1f1;
  --font-size-3xl: 3.157rem;
  --font-size-2xl: 2.369rem;
  --font-size-xl: 1.777rem;
  --font-size-large: 1.333rem;
}

html,
body,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: 500;
  box-sizing: border-box;
  color: var(--font-color-01);
}

html {
  scrollbar-width: none;
}

html::-webkit-scrollbar {
  display: none;
}

html,
body {
  height: 100vh;
}

html * {
  box-sizing: inherit;
}

html {
  scroll-snap-type: y mandatory;
}

h2 {
  font-family: 'Roboto', sans-serif;
}

h1,
p {
  font-family: 'Lato', sans-serif;
}

section:nth-child(odd) {
  background-color: var(--bg-color-01);
}

section:nth-child(even) {
  background-color: var(--bg-color-02);
}

#intro {
  display: flex;
  align-items: center;
  height: 100vh;
  padding: 0 8rem;
  scroll-snap-align: start;
}

#intro * {
  margin: 0 1rem;
  max-height: 300px;
}

#logo {
  max-width: 250px;
}

#intro-text {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 280px;
}

.font-size-3xl {
  font-size: var(--font-size-3xl);
}

.font-size-2xl {
  font-size: var(--font-size-2xl);
}

.font-size-xl {
  font-size: var(--font-size-xl);
}

.font-size-large {
  font-size: var(--font-size-large);
}

#projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  scroll-snap-align: start;
}

.section-title {
  font-size: var(--font-size-2xl);
}
.project {
  display: flex;
}

.project-text {
  display: flex;
  flex-direction: column;
}

#testimonials-tools {
  scroll-snap-align: start;
}

#contact {
  scroll-snap-align: end;
}
